@font-face {
    font-family: 'arian_amuregular';
    src: url('../fonts/arnamu.eot');
    src: url('../fonts/arnamu.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arnamu.woff') format('woff'),
         url('../fonts/arnamu.ttf.gz') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arian_amubold';
    src: url('../fonts/arnamu_bold.eot');
    src: url('../fonts/arnamu_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arnamu_bold.woff') format('woff'),
         url('../fonts/arnamu_bold.ttf.gz') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'arian_amuitalic';
    src: url('../fonts/arnamu_italic.eot');
    src: url('../fonts/arnamu_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arnamu_italic.woff') format('woff'),
         url('../fonts/arnamu_italic.ttf.gz') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'arian_amubold_italic';
    src: url('../fonts/arnamu_italic_bold.eot');
    src: url('../fonts/arnamu_italic_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arnamu_italic_bold.woff') format('woff'),
         url('../fonts/arnamu_italic_bold.ttf.gz') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'GaramondBold';
    src: url('../fonts/GaramondBold/Garamond-Bold.eot');
    src: url('../fonts/GaramondBold/Garamond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GaramondBold/Garamond-Bold.woff') format('woff'),
        url('../fonts/GaramondBold/Garamond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
