body, html{
	height:100%;
}

.n-header{
	display:table-row;
	height: 1px;
}
.n-content{
	display:table-row;

}
.n-footer{
	display:table-row;
	height: 1px;

}
.n-wrapper{
	width: 100%;
	height: 100%;
	display:table;
}
.n-content-inner{
	display:table-cell;
	padding:15px;
}
.vertical-align{
	vertical-align:middle;
}
// Pop up
#mask { position:absolute; left:0; top:0;  z-index:9000;  background-color:#000; width: 100%; height: 100%;  display:none; }

.window{ 
	display: none;
	position:absolute;
	left:0;  
	top:0;
	display:none;
	z-index:9998; 
	border:2px solid #17BBFF;
	border-radius:15px;
	text-align: center;
	.form-wrap-main{
		border:1px solid grey;
		background: #fff;
		border-radius:12px;
		padding: 60px 25px;
		text-align: center;
	}
	.dd-close{
		 font-family: 'arian_amubold';
		width: 10px;
		height: 10px;
		// background: red;
    	// background:url(../img/kres.png) #98BE28 no-repeat center;
    	position:absolute;
    	top:6px;
    	right: 16px;
    	cursor: pointer;
    	transition: 0.5s;
    	border-radius:10px;
    }
}
input[type="text"]{
	width: 100%;
	border:2px solid #17BBFF;
	border-radius:5px;
	height: 40px;
	margin-bottom: 15px;
	padding-left: 15px;
	font-family: 'arian_amuregular';
}

.dd-content-spasibo{
	max-width: 600px;
	margin: 0 auto; 
	border:2px solid #17BBFF;
	border-radius:15px;
	padding: 15px;
	text-align:center;
	span:first-child{
		font-family: 'arian_amubold';
		font-size: 25px;
	}
	span:last-child{
		font-family: 'arian_amuregular';
		font-size: 20px;
	}
}



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}