.clear{
	clear: both;
}
a:active, a:focus{
	outline: none;
}
/*=======models=========*/

.df-center{
	text-align: center;
	margin: 0 auto;
}
.df-caption{
	border-bottom: 1px solid #17bbff;
	padding-bottom: 36px;
	margin-bottom: 64px;
	display: inline-block;	
	position: relative;
}
.df-caption:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 200px;
	height: 20px;
	background-image: url("../img/df-h2-bg.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
	transform: translate(-50%, 0);
}
.df-models{
	margin: 0 auto;
	text-align: center;		
}
.df-model_view{
	max-width: 301px;
	min-height: 450px;
	width: 100%;
	vertical-align: top;	
	display: inline-block;
	border: 1px solid #17bbff;
	margin-bottom: 15px;
	padding: 18px 7px 35px 7px;	
}
.df-models__img_view{
	min-height: 200px;
	img{
		width: 100%;
		height: auto;
	}
}
.df-models__characteristics_view{
	margin-top: -15px;	
}
.df-models__txt1_view{
	font-family: 'arian_amubold';
	display: inline-block;
	width: 207px;
	font-size: 18px;
	color:#383838;
	text-transform: uppercase;
	padding-bottom: 15px;
	border-bottom: 1px dashed #17bbff;
}
.df-models__txt2_view{
	font-family: 'arian_amubold';
	display: block;
	color:#383838;
	font-size: 18px;
	text-decoration: line-through;
	padding-top: 22px;
}
.df-models__txt3_view{
	font-family: 'arian_amubold';
	display: block;
	font-size: 37.7px;
	color:#17bbff;	
	margin-bottom: 15px;
}




/*=============testimonials============*/
.df-bg1{
	background-image: url("../img/df-bg1.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	text-align: center;
}
.df-testi_view{	
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	
}
.df-testi-cap{		
	margin-bottom: 27px;
}
.df-margin-img{
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
}

.df-test{

}
.df-testi__left_view{	
	display: inline-block;	
	text-align: center;
	width: 135px;
	margin-right: 20px;	
	margin-bottom: 20px;
	img{
		width: 100%;
		height: auto;
	}
	span{
		font-size: 18px;
		color:#17bbff;
		font-family: 'arian_amubold';
		display: inline-block;
		margin-top: 20px;
	}
}
.df-testi__img_view{
	width: 130px;
	height: 128px;
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-box-shadow: 0px 0px 0px 4px rgba(#17bbff,0.75);
	-moz-box-shadow: 0px 0px 0px 4px rgba(#17bbff,0.75);
	box-shadow: 0px 0px 0px 4px rgba(#17bbff,0.75);
}
.df-testi__right_view{
	// float: left;	
	max-width: 315px;
	padding-right: 20px;
	width: 100%;
	text-align: left;
	p{
		font-size: 16px;
		line-height: 19px;
		color:#ffffff;
		font-family: 'arian_amuregular';
	}
}





/*=============innerpage=============*/
.df-section_padding{
	padding: 20px 0 20px 0;
}
.df-innerh2{
	text-align: center;
	font-size: 30px !important;
	margin-bottom: 27px;
}
.df-cartproduct_view{
	text-align: center;
}
/*left*/
.df-cartproduct__left_view{
	max-width: 730px;
	width: 100%;	
	vertical-align: top;
	display: inline-block;
	border: 1px solid #17bbff;
	// margin-right: 17px;
}
.df-cartproduct__img_view{
	padding: 30px 15px 0 15px;
	width: 100%;
	max-height: 450px;
	height: 100%;
	img{
		display: none;
		width: 100%;
		height: 100%;
	}
}
.df-cartproduct__choise_view{
	text-align: left;
	padding: 23px;
	background: #dcf5ff;	
}
.df-cartproduct__prod_view{
	width: 145px;
	height: 80px;
	border: 1px solid #17bbff;
	display: inline-block;
	margin-right: 23px;	
	img{
		width: 100%;
		height: 100%;
	}
}

/*right*/
.df-cartproduct__right_view{	
	vertical-align: top;
	display: inline-block;	
	padding-left: 5px;
	width: 100%;
	span{
		font-size: 16px;
		color: #383838;
		font-family: 'arian_amuregular';
		display:block;
		margin-bottom: 12px;
		margin-top: 15px;
	}
}
.df-cartproduct__col_view{
	width: 200px;
	height: 95px;
	display: inline-block; 
	border: 1px solid #17bbff;
	margin: 0 auto;
	margin-bottom: 16px;
	text-align: center;
	position: relative;
	z-index: 1;
	a{
		display: inline-block;
		width: 100%;
		height: 100%;
	}	
	img{
		width: 100%;
		height: 100%;
		display: inline-block;
	}
}
.df-cartproduct__col_view a:hover:before{
	content: "";
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	position: absolute;
	background: #17bbff;
	opacity: 0.4;
	z-index: 10;
}
.df-active:after{
	content: "";
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	position: absolute;
	background: #17bbff;
	opacity: 0.4;
	z-index: 15;
}

/*text box*/
.df-center{
	text-align: center;
}

.dfinner-text_view{
	text-align: left;
	max-width: 705px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	// margin: 11px 30px 0px 0;
	position: relative;
	h4{
		font-size: 18px;
		color:#383838;
		font-family: 'arian_amubold';
		line-height: 22px;
	}
	p{
		font-size: 16px;
		color:#383838;
		font-family: 'arian_amuregular';
		letter-spacing: -0.15px;
	}
}

.dfinner-text__p_view{ 
	margin-top: 14px;
	padding-left: 18px;
	p{
		background-image: url("../img/df-text.png");
		background-repeat: no-repeat;
		background-position: left top 4px;
		padding-left: 21px;
		letter-spacing: -0.1px;
		margin-bottom: 12px;
	}
}
.df-price-box{
	max-width: 220px;
	width: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: top;	
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.df-model_view{		
		margin-bottom: 0px;
		padding: 18px 7px 35px 7px;
		margin-right: 24px;
	}
	.df-models{		
		margin-left: 29px;
	}
	/*testimonials*/
	.df-margin-img{		
		margin-bottom: 65px;
	}
	.df-testi__left_view{
		float: left;
		margin-bottom: 0px;		
	}
	.df-testi__right_view{
		float: left;	
	}
	.df-test{
		padding-left: 45px;
	}
	.df-testi_view{			
		margin-bottom: 33px;
		margin-right: 5px;
	}

	/*inner page*/
	.df-section_padding{
		padding: 25px 0 40px 0;
	}
	.df-cartproduct__right_view{
		span{
			margin-top: 0;
		}
	}




}

@media only screen and (min-width : 1248px) {
	/*inner page*/
	.df-cartproduct__img_view{		
		max-height: 100%;
		height: 437px;		
	}
	.df-cartproduct__right_view{	
		max-width: 210px;		
	}
	.df-cartproduct__col_view{		
		display: block;
	}
	.df-cartproduct__left_view{		
		margin-right: 17px;
	}
	.dfinner-text_view:after{
		content: "";
		position: absolute;
		right:-25px;
		top:0;
		border-right: 1px dashed #17bbff;
		height: 100%;
		width: 1px;
	}
	.df-price-box{	
		margin-top: 39px;
		padding-left: 19px;
	}
	.dfinner-text_view{		
		margin: 11px 30px 0px 0;
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}